<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Exercise Viewer - Add Data</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/resources/style.css" rel="stylesheet"/>
    <script>
        function roundDistance(field) {
            console.log(field.value);
            var oldValue = parseFloat(field.value);
            field.value = oldValue.toFixed(2);
        }

        function checkEnter(event) {
            return event.keyCode != 13
        }


    </script>
</head>
<body>
<h1 th:text="'Welcome in, ' + ${name} + '!'"></h1>
<form action="/add" method="POST" th:object="${exerciseData}">
    <table>
        <tr>
            <th><label for="type">Type</label></th>
            <td><select id="type" onkeypress="return checkEnter(event)" th:field="*{type}">
                <option th:each="exerciseType: ${exerciseTypes}" th:text="${exerciseType.readableName}"
                        th:value="${exerciseType}"></option>
            </select></td>
        </tr>
        <tr>
            <th><label for="date">Date</label></th>
            <td><input id="date" onkeypress="return checkEnter(event)" th:field="*{date}" type="date"/></td>
        </tr>
        <tr>
            <th><label for="distance">Distance (Miles)</label></th>
            <td><input id="distance" min="0" onchange="roundDistance(this)" onkeypress="return checkEnter(event)"
                       th:field="*{distance}"
                       type="number" value="0"/></td>
        </tr>
        <tr>
            <th>Duration</th>
            <td>
                <label>Hours: <input id="durationHour" max="24" min="0" name="durationHour"
                                     onkeypress="return checkEnter(event)" type="number"
                                     value="0"/></label>
                <label>Minutes: <input id="durationMinute" max="60" min="0" name="durationMinute"
                                       onkeypress="return checkEnter(event)" type="number" value="00"/></label>
            </td>
        </tr>
        <tr>
            <td><input type="submit"></td>
        </tr>
    </table>
    <input th:field="*{person}" th:value="${person}" type="hidden"/>
</form>
</body>
</html>
