<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Exercise Viewer</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/resources/style.css" rel="stylesheet"/>
    <script>
        function deleteData(id) {
            alert("Deleting data #" + id)
        }



    </script>
</head>
<body>
<h1 th:text="'Welcome, ' + ${name} + '!'"></h1>
<h2><a href="/add">Log exercise data</a><br/><a href="/">Choose a different family member</a></h2>
<div class="map">
    <h4>Individual Progress Map</h4>
    <iframe class="full" id="individualMap" src="/map.html?type=individual&mapName=Individual%20Progress"
            title="Individual Progress Map"></iframe>
</div>
<div class="map">
    <h4>Family Progress Map</h4>
    <iframe class="full" id="totalMap" src="/map.html?type=total&mapName=Total%20Progress"
            title="Total Progress Map"></iframe>
</div>
<p th:text="'Total effective personal distance: ' + ${totalIndividualDistance} + '/' + ${individualRouteDistanceMiles}"></p>
<ul>
    <li th:each="current: ${data}">
        <p th:text="${current.type.readableName} + ' on ' + ${current.date}"></p>
        <p th:text="${current.distance} + ' miles in ' + ${current.duration} + ' minutes.'"></p>
        <p th:text="${current.weightedDistance} + ' miles effective distance.'"</p>
        <p>
        <form method="get" th:action="'/delete/' + ${current.id}"><input type="submit" value="Delete"></form>
        </p>
    </li>
</ul>
</body>
</html>
