<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Exercise Viewer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css"/>
    <link href="/resources/style.css" rel="stylesheet"/>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col fs-1 fw-bolder text-primary text-center"><p class=""
                                                                    th:text="'Welcome, ' + ${name} + '!'"></p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#ModalAddData">
                Log new exercise data
            </button>
        </div>
        <div class="col text-center">
            <p class="fs-3"><a href="/scoreboard">View the scoreboard</a></p>
        </div>
        <div class="col text-end">
            <p class="fs-3"><a href="/">Choose a different family member</a></p>
        </div>
    </div>
    <div class="row">
        <!--
        <div class="col" th:with="percentage = ${totalIndividualDistance * 100 / individualRouteDistanceMiles}">
            <h4 th:text="'Individual Progress - ' +${#numbers.formatDecimal(totalIndividualDistance,1,2)} + ' miles of '+ ${individualRouteDistanceMiles}
            + ' (' + ${#numbers.formatDecimal(percentage,1,2)} + '%)'"></h4>
        </div>
        -->
        <div class="col">
            <h4 th:text="'Family Progress - ' + ${#numbers.formatDecimal(totalFamilyDistance,1,2)}+' miles'"></h4>
        </div>
    </div>
    <div class="row">
        <!--
        <div class="map col">
            <iframe class="full" id="individualMap" src="/map.html?type=individual"
                    title="Individual Progress Map"></iframe>
        </div>
        -->
        <div class="map col">
            <iframe class="full" id="familyMap" src="/map.html?type=family"
                    title="Family Progress Map"></iframe>
        </div>
    </div>

    <table class="table mb-5">
        <thead>
        <tr>
            <th>Date</th>
            <th>Activity</th>
            <th class="text-end">Miles</th>
            <th class="text-end">Time</th>
            <th class="text-end">Effective Miles</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="current: ${data}">
            <td th:text="${current.formattedDate}"></td>
            <td th:text="${current.type.readableName}"></td>
            <td class="text-end" th:text="${current.distance}"></td>
            <td class="text-end" th:text="${current.formattedDuration}"></td>
            <td class="text-end" th:text="${current.weightedDistance}"></td>
            <td class="text-center"><a class="btn btn-primary" th:href="'/delete/' + ${current.id}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div id="ModalAddData" class="modal fade" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title text-primary">New Exercise Record</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/add" method="POST" th:object="${exerciseData}">
                    <div class="mb-3">
                        <label for="type" class="col-3 col-form-label">Type</label>
                        <select class="form-select" id="type" onkeypress="return checkEnter(event)" th:field="*{type}">
                            <option th:each="exerciseType: ${exerciseTypes}" th:text="${exerciseType.readableName}"
                                    th:selected="${defaultExerciseType==exerciseType}"
                                    th:value="${exerciseType}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="date" class="col-3 col-form-label">Date</label>
                        <input class="form-control" id="date" onkeypress="return checkEnter(event)" th:field="*{date}"
                               type="date"
                               th:min="${trackStartDate}"/>
                    </div>
                    <div class="mb-3">
                        <label for="distance" class="col-3 col-form-label">Distance</label>
                        <input class="form-control" id="distance" onchange="roundDistance(this)"
                               onkeypress="return checkEnter(event)"
                               th:field="*{distance}"
                               max="100" min="0" onfocus="this.select()" step="any" type="number"
                               value="0"/>
                    </div>
                    <div class="row">
                        <label for="durationHour" class="col col-form-label">Duration Hours</label>
                        <label class="col col-form-label ms-1" for="durationMinute">Minutes</label>
                    </div>
                    <div class="row mb-3">
                        <input class="col form-control" id="durationHour" name="durationHour"
                               onkeypress="return checkEnter(event)"
                               max="24" min="0" onfocus="this.select()" step="1" type="number"
                               value="0"/>
                        <input class="col form-control ms-1" id="durationMinute" name="durationMinute"
                               onkeypress="return checkEnter(event)"
                               max="60" min="0" onfocus="this.select()" step="1" type="number"
                               value="00"/>
                    </div>
                    <div class="pt-3 text-center">
                        <input type="submit" value="Log this exercise data">
                    </div>
                    <input th:field="*{person}" th:value="${person}" type="hidden"/>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/webjars/bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>
<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("date").setAttribute("max", today);
    document.getElementById("date").setAttribute("value", today);

    function roundDistance(field) {
        console.log(field.value);
        var oldValue = parseFloat(field.value);
        field.value = oldValue.toFixed(2);
    }

    function checkEnter(event) {
        return event.keyCode != 13
    }



</script>
</body>
</html>
